body {
  padding-top: 50px;
}

/* Login/Signup Form */
.parcel-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.parcel-form .form-signup-heading,
.parcel-form .checkbox {
  margin-bottom: 10px;
}

.parcel-form .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.parcel-form .form-control:focus {
  z-index: 2;
}

.parcel-form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.parcel-form input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}